{% extends 'baseMarketplace.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}Miembros{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

{% block navbar %}
{% include 'components/navbarGroups.html' %}
{% endblock navbar %}

{% block content %}
<div >
    <div class="bg-white max-w-full  shadow px-4 py-5 sm:rounded-lg sm:p-6 mt-10">
      
            <div class="dark:bg-dark-third max-w-full px-4 py-5 border-b rounded-lg mb-2 dark:border-dark-second border-gray-200 sm:px-6">

                <h3 class="text-xl leading-6 cursor-default dark:text-dark-txt prose rounded font-bold text-gray-900">
                    Miembros grupo {{group.name}}
                </h3>
                <p class="mt-1 text-sm cursor-default dark:text-dark-txt text-gray-500">
                    Estos son todos los resultados que encontramos.
                </p>
            </div>
            <ul class="grid grid-cols-2 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for member in members %}
                <li class="col-span-1 flex flex-col text-center dark:bg-dark-main rounded-lg shadow">
                    <a href="{% url 'users:profile' username=member.username %}">
                        <div class="flex-1 flex-flex-col p-8">
                            <img class="w-32 h-32 flex-shrink-0 mx-auto dark:bg-second bg-wgite rounded-full"
                                src="{{member.profile.picture.url}}" alt="">
                            <h3 class="mt-6 dark:text-dar-txt text-gray-900 cursor-default text-lg font-bold prose">
                                {{member}}
                            </h3>
                        </div>
                    </a>
                    <div class="flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                        <form method="POST" action="{% url 'groups:remove-member' member.pk group.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                                <i class='bx bxs-trash-alt'></i>
                            </button> 
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>



            {% if members.has_other_pages %}
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">

                    {% if members.has_previous %}
                    <a href="?page={{ members.previous_page_number }}"
                        class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                        <span class="sr-only">Previous</span>
                        <!-- Heroicon name: solid/chevron-left -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% endif %}


                    {% for i in members.paginator.page_range %}
                    {% if members.number == i %}
                    <a href="?page={{ i }}" aria-current="page"
                        class="z-10 bg-gray-50 border-gray-500 text-blue-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                        {{ i }}</a>
                    {% else %}
                    <a href="?page={{ i }}" aria-current="page"
                        class="z-10 bg-indigo-50 border-indigo-500 text-blue-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                        {{ i }}</a>
                    {% endif %}
                    {% endfor %}


                    {% if members.has_next %}
                    <a href="?page={{ members.next_page_number }}"
                        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                        <span class="sr-only">Next</span>
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    {% endif %}



    </div>
</div>



{% endblock content %}