{% extends 'baseMarketplace.html' %}
{% load static %}
{% load tailwind_tags %}
{% load tailwind_filters %}

{% block title %}Miembros{% endblock title %}
{% block extra_head %}{% endblock extra_head %}

{% block navbar %}
{% include 'components/navbarGroups.html' %}
{% endblock navbar %}

{% block content %}
<div >
    <div class="bg-white max-w-full  shadow px-4 py-5 sm:rounded-lg sm:p-6 mt-10">
      
            <div class="dark:bg-dark-third max-w-full px-4 py-5 border-b rounded-lg mb-2 dark:border-dark-second border-gray-200 sm:px-6">

                <h3 class="text-xl leading-6 cursor-default dark:text-dark-txt prose rounded font-bold text-gray-900">
                    Miembros grupo {{group.name}}
                </h3>
                <p class="mt-1 text-sm cursor-default dark:text-dark-txt text-gray-500">
                    Estos son todos los resultados que encontramos.
                </p>
            </div>
            <ul class="grid grid-cols-2 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for member in members %}
                <li class="col-span-1 flex flex-col text-center dark:bg-dark-main rounded-lg shadow">
                    <a href="{% url 'users:profile' username=member.username %}">
                        <div class="flex-1 flex-flex-col p-8">
                            <img class="w-32 h-32 flex-shrink-0 mx-auto dark:bg-second bg-wgite rounded-full"
                                src="{{member.profile.picture.url}}" alt="">
                            <h3 class="mt-6 dark:text-dar-txt text-gray-900 cursor-default text-lg font-bold prose">
                                {{member}}
                            </h3>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
    </div>
</div>



{% endblock content %}